<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> Practica AYD2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" id="botonestudainte" href="estudiante">Estudiante y Cursos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="asignacion">Asignacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="actividad">Actividades y Notas</a>
        </li>
      </ul>
    </div>
  </nav>  

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <br>
        <h2>201701133 Selvin Lisandro Video</h2>
        <h2>Datos del Estudiante</h2>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="carnet" [(ngModel)]="carnet" placeholder="Carnet">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="cui" [(ngModel)]="cui" placeholder="CUI">
            </div>
          </div>
          <br>
          <input type="text" class="form-control" name="nombreusuario" [(ngModel)]="nombreusuario" placeholder="Nombre Completo">
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="correo" [(ngModel)]="correo" placeholder="Correo">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="fecha" [(ngModel)]="fecha" placeholder="Fecha">
            </div>
          </div>
          <br>
          <button type="button" id="botoncrearusus" style="width:100%; height:100%; border: 1px solid" (click)="newuser()" class="btn btn-success">Agregar Estudiante</button>
        </form>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Carnet</th>
              <th scope="col">CUI</th>
              <th scope="col">Nombre Completo</th>
              <th scope="col">Correo</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listestudiantes;">
              <td>{{item.carnet}}</td>
              <td>{{item.cui}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.fechanac}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div class="col-sm">
  
        <br>
        <h2>Cursos</h2>
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="codigo" [(ngModel)]="codigo" placeholder="Codigo">
            </div>
          </div>
          <br>
          <input type="text" class="form-control" name="nombrecurso" [(ngModel)]="nombrecurso" placeholder="Nombre">
          <br>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="credn" [(ngModel)]="credn" placeholder="Creditos Necesario">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="credo" [(ngModel)]="credo" placeholder="Creditos Obligatorios">
            </div>
          </div>
          <br>
          <button type="button" id="botoncrearcurso" style="width:100%; height:100%; border: 1px solid" (click)="newcourse()" class="btn btn-success">Agregar Curso</button>
        </form>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Curso</th>
              <th scope="col">Creditos Necesarios</th>
              <th scope="col">Creditos Obligatorios</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listcursos;">
              <td>{{item.codigo}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.credn}}</td>
              <td>{{item.credo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    