<body>
  <div class="session" *ngIf="!visibleModal">
    <div class="left">
      <svg enable-background="new 0 0 300 302.5" version="1.1" viewBox="0 0 300 302.5" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
      <style type="text/css">
        .st01{fill:#fff;}
      </style>
			<path class="st01" d="m126 302.2c-2.3 0.7-5.7 0.2-7.7-1.2l-105-71.6c-2-1.3-3.7-4.4-3.9-6.7l-9.4-126.7c-0.2-2.4 1.1-5.6 2.8-7.2l93.2-86.4c1.7-1.6 5.1-2.6 7.4-2.3l125.6 18.9c2.3 0.4 5.2 2.3 6.4 4.4l63.5 110.1c1.2 2 1.4 5.5 0.6 7.7l-46.4 118.3c-0.9 2.2-3.4 4.6-5.7 5.3l-121.4 37.4zm63.4-102.7c2.3-0.7 4.8-3.1 5.7-5.3l19.9-50.8c0.9-2.2 0.6-5.7-0.6-7.7l-27.3-47.3c-1.2-2-4.1-4-6.4-4.4l-53.9-8c-2.3-0.4-5.7 0.7-7.4 2.3l-40 37.1c-1.7 1.6-3 4.9-2.8 7.2l4.1 54.4c0.2 2.4 1.9 5.4 3.9 6.7l45.1 30.8c2 1.3 5.4 1.9 7.7 1.2l52-16.2z"/>
      </svg>
    </div>
    <form action="" class="log-in" autocomplete="off">
      <h4>Bienvenido a <span>AyDrive</span></h4>
      <p>Acceda a sus archivos, almacénelos y compártalos desde un único lugar seguro.</p>

      <div class="floating-label">
        <input id="loginusuario" placeholder="Usuario" type="text" name="user" [(ngModel)]="username" autocomplete="off">
        <label for="email">Usuario:</label>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
            <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>

        </div>
      </div>

      <div class="floating-label">
        <input id="loginpasswords" placeholder="Contraseña" type="password" name="password" [(ngModel)]="password" autocomplete="off">
        <label for="password">Contraseña:</label>
        <div class="icon">

          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve"              xmlns="http://www.w3.org/2000/svg">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:#010101;}
</style>
		<rect class="st0" width="24" height="24"/>
		<path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
		<path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
		<path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
</svg>
        </div>
      </div>

      <div class="align-self-center text-center" *ngIf="!loadingState">
        <button id="loginbuttonsi" type="submit" (click)="login()">Iniciar Sesión</button>
        <br>
        <small id="passwordHelp" class="text-danger"> {{mensaje}} </small>
      </div>

      <div class="align-self-center" *ngIf="loadingState">
        <br>
        <div class="spinner-border text-secondary" role="status">
        </div>
      </div>

      <a id="btnirregistro" routerLink="/auth/signup" class="discrete">Registrate ></a>
    </form>
  </div>
  <!-- Modal Create-->
  <div *ngIf="visibleModal" class="session">
    <div class="modal-dialog m-auto" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Two-Factor Authentication</h1>
        <button type="button" class="close" style="margin: 1%;" (click)="cambio()"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input *ngIf="telVisible" class="w-100" placeholder="Codigo Telefono" type="text" name="codigoTelefono" [(ngModel)]="codigoTelefono" autocomplete="off">
            <input *ngIf="emailVisible" class="w-100" placeholder="Codigo Correo" type="text" name="codigoCorreo" [(ngModel)]="codigoCorreo" autocomplete="off">
        </div>
        <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-secondary" (click)="reenviar()">Reenviar codigo</button>
        <button type="button" class="btn btn-primary" (click)="verificarCodigo()">Verificar codigo</button>
        </div>
    </div>
    </div>
</div>
</body>
